footer {
    background-color: #333;
    color: white;
    padding: 10px 0px;
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.contactMe-section {
    padding: 5px 0;
}

.contactMe-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contactMe-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.contactMe-section ul li a:hover {
    color: #007bff;
}

.contactMe-section ul li a .fa-brands {
    margin-right: 8px;
    font-size: 1.5em;
}

