/* --- LÄNKAR / IKONER --- */

.link-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.link-section a {
    color: black;
    font-size: 30px;
    transition: color 0.3s ease;
}

.link-section a .fa-linkedin:hover,
.link-section a .fa-square-instagram:hover,
.link-section a .fa-github:hover,
.link-section a .fa-file:hover,
.link-section a .fa-address-book:hover {
    color: grey;
}


/* --- SKILLS IKONER --- */

.skills-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

.skill-item {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0;
}
