/* 7. RESPONSIV DESIGN (MEDIA QUERIES)*/

@media (max-width: 768px) {

    /* Globalt */
    main {
        padding: 10px;
    }

    .MyName {
        font-size: 2em;
    }

    /* About Sektion */
    .about-section {
        padding: 40px 15px;
        margin: 30px auto;
    }

    .about-section h2 {
        font-size: 24px;
    }

    .about-section p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* Skills */
    .skills-icons {
        gap: 15px;
    }

    .skill-item {
        width: 65px;
        height: 65px;
    }

    /* Väder-widget */
    .weather-box {
        position: static;
        margin: 20px auto;
        width: 90%;
        max-width: 400px;
    }

    .dropdown {
        display: block;
        width: 100%;
        text-align: center;
    }

    .dropdown-content {
        position: relative;
        display: none;
        min-width: unset;
        width: 100%;
        left: 0;
        right: 0;
        border-radius: 0;
        margin-top: 10px;
    }

    .dropbtn {
        width: 100%;
        padding: 10px 0;
    }

    .project-item {
        justify-content: space-around;
        align-items: flex-start;
    }

    .project-content {
        width: calc(100% - 350px);
        order: 2;
    }

    .project-image-container {
        margin-bottom: 0;
        order: 1;
    }
}


@media (max-width: 600px) {

    /* Navbar */
    nav {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    nav a {
        margin: 5px 0;
        padding: 8px 0;
        border-bottom: 1px solid #c0c0c0;
        width: 100%;
    }

    nav a:last-child {
        border-bottom: none;
    }

    /* Ikoner */
    .link-section a {
        font-size: 26px;
    }

    /* Footer Responsiv */
    .form-section {
        padding: 20px;
    }

    .registerbtn {
        font-size: 16px;
    }

    .contactMe-section ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media (max-width: 480px) {

    /* Skills Ikoner */
    .skill-item {
        width: 50px;
        height: 50px;
    }
}