/* 1. GLOBAL STILAR OCH TYPOGRAFI */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #F5F5F5;
    overflow-x: hidden;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

.MyName {
    text-align: center;
}